<div class="col-sm-6 col-md-2">

<ul class="nav nav-pills nav-stacked">
<li role="presentation" class="active"><a href="#">Home</a></li>
 <li role="presentation"><a href="/school_route/registration">Registration Form</a></li>
 <li role="presentation"><a href="/school_route/attendance">Attendance Status</a></li>
  <li role="presentation"><a href="http://depexam.com/Upload/Files/Downloading_of_Admit_Cards_and_save_to_PDF.pdf" download>Admit card</a></li>
      <li role="presentation"><a href="/school_route/acadmic_details">Acadmics Details</a></li>
        <li role="presentation"><a href="/school_route/marks">verify latest marks</a></li>
    <li role="presentation"><a href="/shopping_cart/checkout">Payment</a></li>

</ul>
</div>
